
*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    border-bottom:solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.s1__title{
  color: rgb(126, 81, 126);
}
.navbar__s2{
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__s2 input{
  border: none;
  width: 100%;
  font-size: 16px;
  align-items: center;
  background-color: transparent;
}
.navbar__s2 input:focus{
  outline: none;
}
.navbar__s3{
  display: flex;
  gap: 10px;
}
.navbar__s4{
  display: none;
}
.my-learning{
  position: relative;
  cursor: pointer;
}
.my-learning_popup{
  position: absolute;
  background-color: white;
  border: solid black 1px;
  width: 100px;
  top: 150%;
  padding: 20px;
  right: 0;
  display: none;
}
.my-learning:hover .my-learning_popup{
  display: block;
}
.categories{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border: solid black 1px;
}
.categories p{
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  border: solid purple 1px;
}
.categories p:hover{
  transition: 1s;
  background-color: transparent;
  color: black;
  border: solid purple 1px;

}
.sale-image{
  position: relative;
}
.sale-image img{
  width: 100%;
}
.sale-image_offer{
  width: 35%;
  border: solid black 2px;
  background-color: white;
  padding: 2%;
  position: absolute;
  top: 10%;
  left: 10%;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes zoom{
  0%{
    transform:scale(0);
    opacity: 0;
  }
  100%{
    transform:scale(1);
    opacity: 1;
  }
}
.recommended{
  padding: 10px;
}

.rec_container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.course-card{
  flex-grow: 1;
  flex-basis: 20%;
  margin: 5px;
}
.course-card img{
  width: 100%;
  height: 50%;
  margin-top: 10px;
}
.topic{
  padding: 10px;
}
.topic_container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}
.topic_container p{
  border: solid grey 2px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular{
  padding: 10px;
}
.popular_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footer{
  padding: 30px;
  background-color: black;
  color: white;
}
.footer_one{
  display: flex;
  gap: 10px;
}
.footer_one p{
  margin: 20px;
}
.footer_two{
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;

}
@media screen and (max-width:800px)
{
  body{
    font-size: 10px;
  }
}
@media screen and (max-width:600px)
{
  .course-card {
    flex-basis: 40%;
  }
  .categories{
    display: none;
  }
  .navbar__s2,.navbar__s3{
    display: none;
  }
  .navbar__s4{
    display: block;
  }
}

