
*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    border-bottom:solid black 1px;
    gap: 10px;
    align-items: center;
}
.s1__title{
  color: rgb(126, 81, 126);
}
.navbar__s2{
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__s2 input{
  border: none;
  width: 100%;
  font-size: 16px;
  align-items: center;
}
.navbar__s2 input:focus{
  outline: none;
}
.navbar__s3{
  display: flex;
  gap: 10px;
}
.categories{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border: solid black 1px;
}
.categories p{
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 30px;
}
.sale-image img{
  width: 100%;
}
.recommended{
  padding: 10px;
}

.rec_container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.course-card{
  width: 300px;
}
.course-card img{
  width: 100%;
  height: 50%;
  margin-top: 10px;
}
.topic{
  padding: 10px;
}
.topic_container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}
.topic_container p{
  border: solid grey 2px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular{
  padding: 10px;
}
.popular_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footer{
  padding: 30px;
  background-color: black;
  color: white;
}
.footer_one{
  display: flex;
  gap: 10px;
}
.footer_one p{
  margin: 20px;
}
.footer_two{
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;

}

